Repository iermentraut/docker-phplint: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfilelint, markdownlint

.pre-commit-config.yaml:

---
default_language_version:
    python: python3

default_stages: [commit, push]

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
          - id: check-yaml

    - repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
      rev: 0.1.0
      hooks:
          - id: yamlfmt

    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
          - id: mixed-line-ending
            args: [--fix=lf]
            description: Forces to replace line ending by the UNIX 'lf' character.

    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
          - id: end-of-file-fixer

    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
          - id: trailing-whitespace
          # exclude_types:
          #   - "dockerfile"

    - repo: local
      hooks:
          - id: dockerfilelint
            name: dockerfilelint
            language: docker_image
            entry: ghcr.io/iermentraut/dockerfilelint
            types: [file]
            files: (d|D)ockerfile

    - repo: local
      hooks:
          - id: hadolint
            name: hadolint
            description: Runs hadolint Docker image to lint Dockerfiles
            language: docker_image
            entry: ghcr.io/hadolint/hadolint:v2.8.0-alpine
            args: [hadolint]
            types: [dockerfile]

    - repo: local
      hooks:
          - id: markdownlint
            name: markdownlint
            language: docker_image
            description: Check markdown files and flag style issues
            entry: markdownlint/markdownlint:0.11.0
            types: [file]
            files: \.md

    - repo: local
      hooks:
          - id: secretlint
            name: secretlint
            language: docker_image
            entry: secretlint/secretlint
            args: [secretlint, '**/*']

    - repo: https://github.com/koalaman/shellcheck-precommit
      rev: v0.7.2
      hooks:
          - id: shellcheck
            args: [--severity=warning]
            types: [shell]

    # - repo: local
    #   hooks:
    #     - id: dockfmt
    #       name: dockfmt
    #       description: Dockerfile format
    #       language: docker_image
    #       entry: jess/dockfmt:v0.3.3
    #       args:
    #         - "fmt"
    #         - "--debug"
    #         - "--write"
    #       types: ["dockerfile"]

improved ci
  .github/workflows/ci.yml
Due: none

fixed couple issues in Dockerfile
  .github/workflows/ci.yml
  Dockerfile
Due: dockerfilelint

added LICENCE, improved README.md & multi plattform support
  .github/workflows/ci.yml
  Dockerfile
  LICENCE
  README.md
Due: dockerfilelint, markdownlint

typo
  .github/workflows/ci.yml
  Dockerfile
Due: dockerfilelint

added addition check after publishing images
  .github/workflows/ci.yml
Due: none

Updated README.md and fixed artifact download
  .github/workflows/ci.yml
  README.md
Due: markdownlint

Updated README.md and fixed artifact download
  .github/workflows/ci.yml
Due: none

Updated README.md and added 3.0.2 to CI
  .github/workflows/ci.yml
  README.md
Due: markdownlint

Limit CI to Docker related files
  .github/workflows/ci.yml
Due: none

added Github badge to README.md
  README.md
Due: markdownlint

added Docker badge to README.md
  README.md
Due: markdownlint

permission fixes
  Dockerfile
  entrypoint.sh
Due: dockerfilelint

trigger ci on changes inside .github too
  .github/workflows/ci.yml
Due: none

publish images only on changes in master branch
  .github/workflows/ci.yml
Due: none

added grype as test step
  .github/workflows/ci.yml
Due: none

Run pipeline on pull requests too
  .github/workflows/ci.yml
Due: none

Added grype and trivy as additional security checks
  .github/workflows/ci.yml
Due: none

Run containers as application user instead of root
  Dockerfile
  entrypoint.sh
Due: dockerfilelint

Improved CI pipeline
  .github/workflows/ci.yml
Due: none

Improved README.md
  README.md
Due: markdownlint

.pre-commit-config.yml: removed dockfmt + disabled phplint by default
  .pre-commit-config.yaml
Due: none

updated .dockerignore
  .dockerignore
Due: none

Added two simple test files
  tests/bad.php
  tests/good.php
Due: none

Possible fix for The identifier 'docker_build' may not be used more than once within the same scope
  .github/workflows/ci.yml
Due: none

Fixed basic functionality test
  .github/workflows/ci.yml
Due: none

bash package is not needed anymore
  Dockerfile
Due: dockerfilelint
